<h1>Beta Distribution</h1>
<h2>Overview</h2>
<p>
    Used to describe a prior belief with two outcomes. P(theta|a, b) where theta is Two Parameters:
    <ul>
        <li>beta: number of outcome #1</li>
        <li>alpha: number of outcome #2</li>
        <li>Both are shape parameters</li>
    </ul>
</p>
<h2>Examples</h2>
<p>
    <ul>
        <li>coin flip : Use this for your base example and cite Bayesian Book</li>
        <li>batting average : http://varianceexplained.org/statistics/beta_distribution_and_baseball/ </li>
    </ul>
</p>
<h2>Interesting Properties</h2>
<p>
    When a == b , mode and mean = 0.5 spread of data is related to concentration, k, k = a + b * Narrows as k increases mean = a/(a+b) mode = (a-1)/(a+b-2) conjugate prior for bernoulli
</p>
