<h1>Exponential Distribution</h1>
<h2>Overview</h2>
<p>
    Used to describe a Poisson process.  In other words the exponential distribution is used to model processes where the rate of an event occurring is estimated to be constant.   
<h2>Parameters</h2>
    <ul>
        <li>&lambda;: Rate Parameter</li>
    </ul>
</p>
<h2>Application Examples</h2>
<p>
    <ul>
    	<li>Survival rates</li>
        <li>Mechanical Failure</li>
        <li>Relationship between the length of breaking ocean wave fronts and the speed of the wave</li>
        <li>Network traffic arrival times</li>
    </ul>
</p>
<h2>Interesting Properties</h2>
<p>

</p>
