<h1>Gaussian Distribution</h1>
<h2>Overview</h2>
<p>
    The Gaussian distribution, also known as the normal distribution, describes most naturally occurring phenomenon. It has a bell shaped curve which is shifted and scaled by two parameters: the mean and standard deviation. 

<h2>Parameters</h2>
    <ul>
        <li>mean (&mu;): The average value in the distribution. It serves as the location parameter.
        </li>
        <li>standard deviation (&sigma;): The average distance values from the distribution are from the mean value.  This parameter sets the spread or width of the distribution. 
        </li>
    </ul>
</p>
<h2>Applications and Examples</h2>
<p>
	The normal distribution is used to model natural phenomenon.  Examples of such phenomenon are shown below. 
    <ul>
        <li>Length of adult species of Flounder caught by a fishing vessel.</li>
        <li>Frequencies present in White Noise (double check this one, maybe different wording)</li>
        <li>Weight of adult females (or males) in Philadelphia, PA.</li>
    </ul>
</p>
<h2>Interesting Properties</h2>
<p>
    <ul>
        <!-- standard normal distribution (special case) 
    	Relationship between standard deviation and variance and why we use standard deviation in most cases
    	what 1 standard deviation means, what 2 std's means etc. -->

    </ul>
</p>
<h2>References</h2>
<p>
    <ul>
        <li><a href="">Ref 1</a></li>
        
    </ul>
</p>